
New Unity Project/Temp/UnityLockfile
New Unity Project/Library/EditorInstance.json
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/.suo
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/Library/CurrentLayout.dwlt
New Unity Project/Library/LastSceneManagerSetup.txt
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/Library/SceneVisibilityState.asset
New Unity Project/Library/StateCache/SceneView/2eda32-mainStage.json
New Unity Project/Temp/UnityTempFile-e67d3d8f5baf71146970b4a0d946f006
New Unity Project/Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
New Unity Project/Library/shadercompiler-UnityShaderCompiler.exe0.log
New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.pdb
New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.dll
New Unity Project/Library/metadata/b2/b274470c3b368364db20d0fb90833699
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60.info
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/Library/metadata/0d/0dd79283cabd5b74ebb85cfff41a4372.info
New Unity Project/Library/metadata/0d/0dd79283cabd5b74ebb85cfff41a4372
New Unity Project/Library/metadata/02/02507f33ba1fc1e498057383fdce79e4
New Unity Project/Library/assetDatabase3
