
New Unity Project/Temp/UnityLockfile
New Unity Project/Library/EditorInstance.json
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/.suo
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/Library/CurrentLayout.dwlt
New Unity Project/Library/LastSceneManagerSetup.txt
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/Library/SceneVisibilityState.asset
New Unity Project/Library/StateCache/SceneView/2eda32-mainStage.json
