
New Unity Project/Temp/UnityLockfile
New Unity Project/Library/EditorInstance.json
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/.vs/New Unity Project/v16/.suo
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/Library/CurrentLayout.dwlt
New Unity Project/Library/LastSceneManagerSetup.txt
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/Library/SceneVisibilityState.asset
New Unity Project/Library/StateCache/SceneView/2eda32-mainStage.json
New Unity Project/Temp/UnityTempFile-e67d3d8f5baf71146970b4a0d946f006
New Unity Project/Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
New Unity Project/Library/shadercompiler-UnityShaderCompiler.exe0.log
New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.pdb
New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.dll
New Unity Project/Library/metadata/b2/b274470c3b368364db20d0fb90833699
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60.info
New Unity Project/Library/metadata/9b/9bbdb4cc348a59241b7757c33a6c4c60
New Unity Project/Library/metadata/0d/0dd79283cabd5b74ebb85cfff41a4372.info
New Unity Project/Library/metadata/0d/0dd79283cabd5b74ebb85cfff41a4372
New Unity Project/Library/metadata/02/02507f33ba1fc1e498057383fdce79e4
New Unity Project/Library/assetDatabase3
New Unity Project/.vs/New Unity Project/v16/.suo
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-shm
New Unity Project/.vs/New Unity Project/v16/Server/sqlite3/storage.ide-wal
New Unity Project/Library/CurrentLayout.dwlt
New Unity Project/Library/LastSceneManagerSetup.txt
New Unity Project/Library/StateCache/Hierarchy/4f4e4b-mainStage.json
New Unity Project/Library/StateCache/SceneView/2eda32-mainStage.json
New Unity Project/Temp/__Backupscenes/0.backup
New Unity Project/Temp/UnityTempFile-0af158e9d1a52fb478e469ce81a47f55
New Unity Project/Temp/UnityTempFile-0f52bffeeb29cf547b058b720a5b7c82
New Unity Project/Temp/UnityTempFile-1192bfef5264ec046990bc0743dc2b18
New Unity Project/Temp/UnityTempFile-1c22fcff3b7e71449b08ff08cc161b9d
New Unity Project/Temp/UnityTempFile-25406c8173c413a49a3d586b96411688
New Unity Project/Temp/UnityTempFile-2afa1e50e256d7649b4665cd384671ff
New Unity Project/Temp/UnityTempFile-38c54d6aa5a6de5408267ed90801fb46
New Unity Project/Temp/UnityTempFile-5e85e234e2cbdcc4c942e1162a3d94d6
New Unity Project/Temp/UnityTempFile-69a3060e79d683e47a8b9d5ca7912d10
New Unity Project/Temp/UnityTempFile-6e669533a35266949aea4d34820e2d07
New Unity Project/Temp/UnityTempFile-8a2e998c90515b645ab58ef508fa2c99
New Unity Project/Temp/UnityTempFile-8d4b09233618089428522a2b0116d533
New Unity Project/Temp/UnityTempFile-9967f98f04e7169499b91a6a16ed6252
New Unity Project/Temp/UnityTempFile-9f45a418ceb5cff4d8bca56cf48d76f6
New Unity Project/Temp/UnityTempFile-a1266a274b70620489422231259e3916
New Unity Project/Temp/UnityTempFile-a5030a8c3df3edd448f29cdb74878d36
New Unity Project/Temp/UnityTempFile-ab8607543e160d3409a32faf579d1c94
New Unity Project/Temp/UnityTempFile-ba30bf86df9161e4ab4769cc2423b64d
New Unity Project/Temp/UnityTempFile-bc0b68b702246b74d82a2c1b11487b84
New Unity Project/Temp/UnityTempFile-bf4de8a90f6a3974d857ed0231ca5a4f
New Unity Project/Temp/UnityTempFile-d339b28cf9709a44fab19a96cb4db389
New Unity Project/Temp/UnityTempFile-dc0d6b2b0d893a4468ae5bec027b0a49
New Unity Project/Temp/UnityTempFile-e13a9dc64cfb1b44a9c7dee87d87ebea
New Unity Project/Temp/UnityTempFile-e611650db13cc844289b586cfd37c3cd
New Unity Project/Temp/UnityTempFile-f132d984d4156954cbeaa9577b497350
New Unity Project/Temp/UnityTempFile-f65956d60339c1d44a31a90a2bde4077
New Unity Project/Temp/UnityTempFile-f7e183e5f6173e045b55e0c3fbab034f
*.meta
